POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payment_service
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/payment_service
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
